<footer class="footer">
	<small>
		Tuko Fit App - Get healthier, get connected, be happy!
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><%= link_to "Join us", '#' %></li>
			<li><%= link_to "Blog", '#' %></li>
		</ul>
	</nav>
</footer>